.header {
  display: flex;
  min-height: 30px;
  opacity: 0.3;
  justify-content: flex-end;
  align-items: center;
}
.header__icons {
  min-width: 55px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.Header__clock {
  margin-right: auto;
  font-weight: 500;
  font-size: 14px;
  color: #5d6871;
}
