@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(315deg, #ffff 0%, #e1e5e8 74%);
}

.light {
  background-image: linear-gradient(315deg, #ffff 0%, #e1e5e8 74%);
}

.dark {
  background-image: linear-gradient(315deg, #2d3235 0%, #1f2326 74%);
}
